.what-is-it-btn {
    position: fixed;
    top: 1%;
    left: 1%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.what-is-it-icon {
    width: 24px;
    height: 24px;
    background-size: cover;
}

body[theme="day"] .what-is-it-icon {
    background-image: url('../images/question-day.svg'); /* Иконка вопроса для светлой темы */
}

body[theme="night"] .what-is-it-icon {
    background-image: url('../images/question-night.svg'); /* Иконка вопроса для темной темы */
}

/* Стили для светлой темы */
body[theme="day"] .what-is-it-btn {
    background-color: var(--day-color-2);
}

/* Стили для темной темы */
body[theme="night"] .what-is-it-btn {
    background-color: var(--night-color-3);
}

body[theme="day"] .what-is-it-btn:hover {
    transition: box-shadow 0.2s;
    box-shadow: 0 0 16px var(--day-color-2); /* Внешняя белая тень */
}

body[theme="night"] .what-is-it-btn:hover {
    transition: box-shadow 0.2s;
    box-shadow: 0 0 16px var(--night-color-6); /* Внешняя белая тень */
}

body[theme="day"] .what-is-it-btn:active {
    transition: box-shadow 0.1s, transform 0.1s; /* Быстрый переход для эффекта вспышки */
    transform: scale(0.80);
}

body[theme="night"] .what-is-it-btn:active {
    transition: box-shadow 0.1s, transform 0.1s; /* Быстрый переход для эффекта вспышки */
    transform: scale(0.80);
}