.audiogramScene {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Расстояние между элементами */
    align-items: center;
}

.audiogramContainer {
    display: flex;
    flex-direction: column;
}

.audiogramCaptionDiv {
    display: flex;
    justify-content: center;  /* Центрирование по горизонтали */
    align-items: center;      /* Центрирование по вертикали */
    text-align: center;       /* Центрирование текста внутри элемента */
}

body[theme="day"] .audiogramCaptionDiv {
    background-color: var(--day-color-6);
}

body[theme="night"] .audiogramCaptionDiv {
    background-color: var(--night-color-3);
}

body[theme="day"] .audiogramScene p,
body[theme="day"] .audiogramScene span {
    color: var(--day-color-3);
}

body[theme="night"] .audiogramScene p,
body[theme="night"] .audiogramScene span {
    color: var(--night-color-5);
}

.audiogramCaptionDiv span {
    font-size: 18px;
    font-weight: bold; /* Сделать текст жирным */
}

.audiogramBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    aspect-ratio: 1;
}

.audioGramBtnContainer {
    display: flex;
    gap: 10px; /* Расстояние между кнопками */
    justify-content: center; /* Центрируем кнопки по горизонтали */
    align-items: center; /* Центрируем кнопки по вертикали */
}

.audiogramScene p, .audiogramScene span {
    font-size: 16px; /* Размер текста */
}