.badHearingExampleServiceBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.badHearingExampleServiceBox .horizontalContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 50%;
}

.badHearingExampleServiceBox .arrowWrapper {
    display: flex;
    height: 48px;
    aspect-ratio: 1;
}

.badHearingExampleServiceBox .mediaPlayerBox video-js {
    max-width: 100%;
    max-height: 150px;
}

body[theme="day"] .badHearingExampleServiceBox .arrowBtn[arrow="left"] {
    background-image: url('../images/arrows/day/left-arrow.svg'); 
}

body[theme="day"] .badHearingExampleServiceBox .arrowBtn[arrow="right"] {
    background-image: url('../images/arrows/day/right-arrow.svg'); 
}

body[theme="night"] .badHearingExampleServiceBox .arrowBtn[arrow="left"] {
    background-image: url('../images/arrows/night/left-arrow.svg'); 
}

body[theme="night"] .badHearingExampleServiceBox .arrowBtn[arrow="right"] {
    background-image: url('../images/arrows/night/right-arrow.svg'); 
}

.badHearingExampleServiceBox .arrowBtn {
    background-repeat: no-repeat;
    background-size: 70% 70%; /* Измените на нужное */
    background-position: center;
    width: 100%;
    height: 100%;
}
