.box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 5px; /* Пример отступов в 10px вокруг контента */
    border-radius: 10px; /* Пример скругления углов границы */
}

.box[boxHidden="true"] {
    display: none; /* Скрываем элемент, если атрибут boxHidden равен "yes" */
}

body[theme="day"] .box {
    background-color: var(--day-color-2);
    border: 2px solid var(--day-color-4); /* Пример границы вокруг контента */
}

body[theme="night"] .box {
    background-color: var(--night-color-3);
    border: 2px solid var(--night-color-4); /* Пример границы вокруг контента */
}