.box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 4px; /* Пример отступов в 10px вокруг контента */
    border-radius: 10px; /* Пример скругления углов границы */
    max-width: 100%;
    max-height: 100%;
}

body[theme] .box[specialstate="transparent"] {
    background-color: transparent; /* Убираем цвет фона */
    border: none; /* Убираем границу */
    box-shadow: none; /* Убираем тень, если есть */
    padding: 0; /* Убираем отступы внутри бокса */
    overflow: visible; /* Убедимся, что дочерние элементы не скрываются */
}

.box[boxHidden="true"] {
    display: none; /* Скрываем элемент, если атрибут boxHidden равен "yes" */
}

body[theme="day"] .box {
    background-color: var(--day-color-2);
    border: 2px solid var(--day-color-4); /* Пример границы вокруг контента */
}

body[theme="night"] .box {
    background-color: var(--night-color-3);
    border: 2px solid var(--night-color-4); /* Пример границы вокруг контента */
}