.scene button.myBtn {
    box-sizing: border-box;
    border: none; /* Убираем границу */
    padding: 5px 10px; /* Внутренние отступы */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Указатель при наведении */
    font-size: 16px;
}

body[theme="day"] .scene button.myBtn  {
    background-color: var(--day-color-8); /* Цвет фона */
    color: var(--day-color-2); /* Цвет текста */
}

body[theme="night"] .scene button.myBtn {
    background-color: var(--night-color-2); /* Цвет фона */
    color: var(--night-color-5); /* Цвет текста */
}

.scene button.myBtn:hover {
    transition: box-shadow 0.2s, transform 0.2s;
}

.scene button.myBtn:active {
    transform: scale(0.95); /* Легкое увеличение */
    transition: box-shadow 0.1s, transform 0.1s; /* Быстрый переход для эффекта вспышки */
}

/* Эффект при наведении */
body[theme="day"] .scene button.myBtn:hover {
    box-shadow: 0 0 8px var(--day-color-8); /* Легкая тень при наведении */
    
}

/* Эффект при наведении */
body[theme="night"] .scene button.myBtn:hover {
    box-shadow: 0 0 8px var(--night-color-5); /* Легкая тень при наведении */
}

/* Эффект блика при клике */
body[theme="day"] .scene button.myBtn:active {
    box-shadow: 0 0 10px var(--day-color-8); /* Яркий блик */
}

body[theme="night"] .scene button.myBtn:active {
    box-shadow: 0 0 10px var(--night-color-5); /* Яркий блик */
}
