.theme-toggle {
    position: fixed;
    top: 1%;
    right: 1%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.theme-icon {
    width: 24px;
    height: 24px;
    background-size: cover;
}

body[theme="day"] .theme-icon.sun {
    display: none;
}

body[theme="night"] .theme-icon.moon {
    display: none;
}

.theme-icon.sun {
    background-image: url('../images/sun.svg');
}

.theme-icon.moon {
    background-image: url('../images/moon.svg');
}

body[theme="day"] .theme-toggle {
    background-color: var(--day-color-2);
}

body[theme="night"] .theme-toggle {
    background-color: var(--night-color-3);
}

body[theme="day"] .theme-toggle:hover {
    transition: box-shadow 0.2s;
    box-shadow: 0 0 16px var(--day-color-2); /* Внешняя белая тень */
}

body[theme="night"] .theme-toggle:hover {
    transition: box-shadow 0.2s;
    box-shadow: 0 0 16px var(--night-color-6); /* Внешняя белая тень */
}

body[theme="day"] .theme-toggle:active {
    transition: box-shadow 0.1s, transform 0.1s; /* Быстрый переход для эффекта вспышки */
    transform: scale(0.80);
}

body[theme="night"] .theme-toggle:active {
    transition: box-shadow 0.1s, transform 0.1s; /* Быстрый переход для эффекта вспышки */
    transform: scale(0.80);
}