.errorBubble {
    position: absolute;
    top: 20px; /* отступ сверху */
    left: 20px; /* отступ слева */
    padding: 10px 20px; /* внутренние отступы для большего размера */
    max-width: 200px; /* максимальная ширина для длинных сообщений */
    font-size: 14px; /* размер шрифта */
    border-radius: 8px; /* скругленные углы */
    z-index: 1000; /* поверх других элементов */
}

body[theme="day"] .errorBubble {
    background-color: #ffcccc;
    color: #333;
    box-shadow: 0 0 16px #ffcccc; /* тень для объема */
}

body[theme="night"] .errorBubble {
    background-color: #ffcccc;
    color: #333;
    box-shadow: 0 0 16px #ffcccc;
}
