.exactlyServiceBtnContainer {
    display: flex;
    gap: 10px;
    /* Расстояние между кнопками */
    justify-content: center;
    /* Центрируем кнопки по горизонтали */
    align-items: center;
    /* Центрируем кнопки по вертикали */
}