.fileHandlingScene {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Расстояние между элементами */
    align-items: center;
}

.fileHandlingScene .btnContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* Расстояние между кнопками */
    justify-content: center;
    /* Центрируем кнопки по горизонтали */
    align-items: center;
    /* Центрируем кнопки по вертикали */
}

.logBox {
    width: 100%;
    height: 80%;
    max-width: 640px;
}

.logs {
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    /* Цвет фона для удобства чтения */
    padding: 10px;
    /* Внутренний отступ для текста */
    font-family: monospace;
    /* Моноширинный шрифт для логов */
    overflow-y: auto;
    overflow-x: hidden;
    /* Полоса прокрутки по вертикали */
    resize: none;
    /* Отключить возможность изменения размера */
}

body[theme="day"] .logs {
    border: 1px solid var(--day-color-1);
    background-color: wheat;
}

body[theme="night"] .logs {
    border: 1px solid var(--night-color-4);
    background-color: var(--night-color-1);
}

body[theme="day"] .logs span {
    color: var(--day-color-3);
}

body[theme="night"] .logs span {
    color: var(--night-color-5);
}

.logs span {
    display: block;
}

body[theme="day"] .logs span.exception {
    color: red;
}

body[theme="night"] .logs span.exception {
    color: #FF6347;
}

/* Стилизация полосы прокрутки */
.logs::-webkit-scrollbar {
    width: 4px; /* ширина полосы прокрутки */
}

.logs::-webkit-scrollbar-track {
    background: transparent; /* цвет фона трека */
}

.logs::-webkit-scrollbar-thumb {
    border-radius: 4px; /* скругление углов полосы */
}

body[theme="day"] .logs::-webkit-scrollbar-thumb {
    background-color: var(--day-color-1); /* цвет полосы прокрутки */
    
}

body[theme="day"] .logs::-webkit-scrollbar-thumb:hover {
    background-color: var(--day-color-1); /* изменение цвета полосы при наведении */
}

body[theme="night"] .logs::-webkit-scrollbar-thumb {
    background-color: var(--night-color-3); /* цвет полосы прокрутки */
}

body[theme="night"] .logs::-webkit-scrollbar-thumb:hover {
    background-color: var(--night-color-3); /* изменение цвета полосы при наведении */
}

.fileHandlingScene p, .fileHandlingScene span {
    font-size: 15px; /* Размер текста */
}