.fileHandlingScene {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Расстояние между элементами */
    align-items: center;
}

.fileHandlingScene .btnContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* Расстояние между кнопками */
    justify-content: center;
    /* Центрируем кнопки по горизонтали */
    align-items: center;
    /* Центрируем кнопки по вертикали */
}

.logBox {
    width: 100%;
    height: 80%;
    max-width: 640px;
}

.logs {
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    /* Цвет фона для удобства чтения */
    padding: 10px;
    /* Внутренний отступ для текста */
    font-family: monospace;
    /* Моноширинный шрифт для логов */
    overflow-y: auto;
    overflow-x: hidden;
    /* Полоса прокрутки по вертикали */
    resize: none;
    /* Отключить возможность изменения размера */
}

body[theme="day"] .logs {
    border: 1px solid #6B8E23;
    background-color: wheat;
}

body[theme="night"] .logs {
    border: 1px solid #423523;
    background-color: #221a0f;
}

body[theme="day"] .logs span {
    color: black;
}

body[theme="night"] .logs span {
    color: #d3af86;
}

.logs span {
    display: block;
}

body[theme="day"] .logs span.exception {
    color: red;
}

body[theme="night"] .logs span.exception {
    color: #FF6347;
}

/* Стилизация полосы прокрутки */
.logs::-webkit-scrollbar {
    width: 4px; /* ширина полосы прокрутки */
}

.logs::-webkit-scrollbar-track {
    background: transparent; /* цвет фона трека */
}

.logs::-webkit-scrollbar-thumb {
    border-radius: 4px; /* скругление углов полосы */
}

body[theme="day"] .logs::-webkit-scrollbar-thumb {
    background-color: #6B8E23; /* цвет полосы прокрутки */
    
}

body[theme="day"] .logs::-webkit-scrollbar-thumb:hover {
    background-color: #6B8E23; /* изменение цвета полосы при наведении */
}

body[theme="night"] .logs::-webkit-scrollbar-thumb {
    background-color: #5e452b; /* цвет полосы прокрутки */
}

body[theme="night"] .logs::-webkit-scrollbar-thumb:hover {
    background-color: #5e452b; /* изменение цвета полосы при наведении */
}

.fileHandlingScene button {
    box-sizing: border-box;
    border: none; /* Убираем границу */
    padding: 5px 10px; /* Внутренние отступы */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Указатель при наведении */
    font-size: 15px;
}

body[theme="day"] .fileHandlingScene button  {
    background-color: #6B8E23; /* Цвет фона */
    color: white; /* Цвет текста */
}

body[theme="night"] .fileHandlingScene button {
    background-color: #362712; /* Цвет фона */
    color: #d3af86; /* Цвет текста */
}

.fileHandlingScene p, .fileHandlingScene span {
    font-size: 15px; /* Размер текста */
}