.github-toggle {
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

/* Иконка GitHub */
.github-icon {
    width: 24px;
    height: 24px;
    background-size: cover;
}

body[theme="day"] .github-icon {
    background-image: url('../images/github-mark-day.svg'); /* Иконка GitHub */
}

body[theme="night"] .github-icon {
    background-image: url('../images/github-mark-night.svg'); /* Иконка GitHub */
}

body[theme="day"] .github-toggle {
    background-color: var(--day-color-2);
}

body[theme="night"] .github-toggle {
    background-color: var(--night-color-3);
}

body[theme="day"] .github-toggle:hover {
    transition: box-shadow 0.2s;
    box-shadow: 0 0 16px var(--day-color-2); /* Внешняя белая тень */
}

body[theme="night"] .github-toggle:hover {
    transition: box-shadow 0.2s;
    box-shadow: 0 0 16px var(--night-color-6); /* Внешняя белая тень */
}

body[theme="day"] .github-toggle:active {
    transition: box-shadow 0.1s, transform 0.1s; /* Быстрый переход для эффекта вспышки */
    transform: scale(0.80);
}

body[theme="night"] .github-toggle:active {
    transition: box-shadow 0.1s, transform 0.1s; /* Быстрый переход для эффекта вспышки */
    transform: scale(0.80);
}