.github-toggle {
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

/* Стили для светлой темы */
body[theme="day"] .github-toggle {
    background-color: var(--day-color-2);
}

/* Стили для темной темы */
body[theme="night"] .github-toggle {
    background-color: var(--night-color-3);
}

/* Иконка GitHub */
.github-icon {
    width: 24px;
    height: 24px;
    background-size: cover;
}

body[theme="day"] .github-icon {
    background-image: url('../images/github-mark-day.svg'); /* Иконка GitHub */
}

body[theme="night"] .github-icon {
    background-image: url('../images/github-mark-night.svg'); /* Иконка GitHub */
}