.language-toggle {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%); /* Центрирует элемент по горизонтали */
    width: 40px; /* Ширина переключателя */
    height: 40px; /* Высота переключателя */
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    font-size: 16px; /* Размер шрифта для кода языка */
    font-weight: bold; /* Толщина шрифта */
}

body[theme="day"] .language-toggle {
    background-color: #2e6cab;
}

body[theme="night"] .language-toggle {
    background-color: #2a547c;
}

.language-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-code {
    display: flex;
    align-items: center;
    justify-content: center;
}

body[theme="day"] .language-code {
    color: white;
}

body[theme="night"] .language-code {
    color: white;
}

.language-list:not([data-visible]),
.language-list[data-visible="false"] {
    display: none; /* Скрываем по умолчанию */
}

.language-list[data-visible="true"] {
    display: grid; /* Показываем, если атрибут установлен в 'true' */
}

/* Стили для выпадающего списка */
.language-list {
    position: absolute;
    top: 100%;
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Сдвигаем влево на 50% своей ширины */
    border-radius: 4px;
    z-index: 11;
    display: grid; /* Используем грид */
    grid-template-columns: repeat(3, 1fr); /* Одна колонка */
}

.language-item {
    padding: 8px 16px;
    cursor: pointer;
    display: flex; /* Для центрирования текста внутри элемента */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    border: 1px solid white; /* Прозрачная граница по умолчанию для создания эффекта при наведении */
}

body[theme="day"] .language-list {
    border: 2px solid white;
}

body[theme="night"] .language-list {
    border: 2px solid white;
}

body[theme="day"] .language-item {
    background-color: #2e6cab;
    color: white;
}

body[theme="night"] .language-item {
    background-color: #2a547c;
    color: white;
}

body[theme="day"] .language-item:hover {
    background-color: white; /* Цвет фона при наведении */
    color: #2e6cab;
}

body[theme="night"] .language-item:hover {
    background-color: white; /* Цвет фона при наведении */
    color: #2a547c;
}