.language-toggle {
    position: static;
    width: 0;
    height: 0;
}

.language-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: fixed;
    top: 1%;
    left: calc(50% - 20px);
    width: 40px; /* Ширина переключателя */
    height: 40px; /* Высота переключателя */
    border-radius: 8px;
    z-index: 10;
}

body[theme="day"] .language-circle {
    background-color: #2e6cab;
}

body[theme="night"] .language-circle {
    background-color: #2a547c;
}

body[theme="day"] .language-circle:hover {
    transition: box-shadow 0.2s;
    box-shadow: 0 0 16px var(--day-color-2); /* Внешняя белая тень */
}

body[theme="night"] .language-circle:hover {
    transition: box-shadow 0.2s;
    box-shadow: 0 0 16px var(--night-color-6); /* Внешняя белая тень */
}

body[theme="day"] .language-circle:active {
    transition: box-shadow 0.1s, transform 0.1s; /* Быстрый переход для эффекта вспышки */
    transform: scale(0.80);
}

body[theme="night"] .language-circle:active {
    transition: box-shadow 0.1s, transform 0.1s; /* Быстрый переход для эффекта вспышки */
    transform: scale(0.80);
}

.language-code {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px; /* Размер шрифта для кода языка */
    font-weight: bold; /* Толщина шрифта */
}

body[theme="day"] .language-code {
    color: white;
}

body[theme="night"] .language-code {
    color: white;
}

.language-list:not([data-visible]),
.language-list[data-visible="false"] {
    display: none; /* Скрываем по умолчанию */
}

.language-list[data-visible="true"] {
    display: grid; /* Показываем, если атрибут установлен в 'true' */
}

/* Стили для выпадающего списка */
.language-list {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    z-index: 11;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px; /* Внутренние отступы */
    
}

body[theme="day"] .language-list {
    background-color: var(--day-color-6); /* Белый фон для .language-list */
    box-shadow: 0 0 10px var(--day-color-6); /* Черная тень для дневной темы */
}

body[theme="night"] .language-list {
    background-color: var(--night-color-5); /* Темный фон для ночной темы */
    box-shadow: 0 0 10px var(--night-color-5); /* Светлая тень для ночной темы */
}

.language-item {
    padding: 8px 16px;
    cursor: pointer;
    display: flex; /* Для центрирования текста внутри элемента */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    border: 1px solid white;
}

body[theme="day"] .language-item {
    background-color: #2e6cab;
    color: white;
}

body[theme="night"] .language-item {
    background-color: #2a547c;
    color: white;
}

body[theme="day"] .language-item:hover {
    background-color: white; /* Цвет фона при наведении */
    color: #2e6cab;
}

body[theme="night"] .language-item:hover {
    background-color: white; /* Цвет фона при наведении */
    color: #2a547c;
}

.language-item:active {
    transform: scale(0.80);
}