.listenYourselfScene {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Расстояние между элементами */
    align-items: center;
}

body[theme="day"] .listenYourselfScene p {
    color: var(--day-color-3);
}

body[theme="night"] .listenYourselfScene p {
    color: var(--night-color-5);
}

body[theme="day"] .microphoneRecordBtn[microphone-enabled="true"] {
    background-color: brown;
}

body[theme="night"] .microphoneRecordBtn[microphone-enabled="true"] {
    background-color: brown;
}

.listenYourselfScene .mainBox p {
    margin-top: 3px;
    margin-bottom: 3px;
}