.mainScene {
    gap: 10px;
}

body[theme="day"] .mainScene p {
    color: var(--day-color-3);
}

body[theme="night"] .mainScene p {
    color: var(--night-color-5);
}

.mainScene p {
    font-size: 15px; /* Размер текста */
}

.tipBox p {
    margin: 0;
}

.bad_hearing_example_video {
    width: 100%;
    height: 100%;
    max-width: 320px;
    max-height: 240px;
}

body[theme="day"] a {
    color: var(--day-color-7);
}

body[theme="day"] a:visited {
    color: var(--day-color-7);
}

body[theme="night"] a {
    color: var(--night-color-5);
}

body[theme="night"] a:visited {
    color: var(--night-color-5);
}