.mainScene {
    gap: 10px;
}

body[theme="day"] .mainScene p {
    color: black;
}

body[theme="night"] .mainScene p {
    color: #d3af86;
}

.mainScene p {
    font-size: 15px; /* Размер текста */
}

.tipBox p {
    margin: 0;
}

.bad_hearing_example_video {
    width: 100%;
    height: 100%;
    max-width: 320px;
    max-height: 240px;
}