.mediaPlayerScene {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Расстояние между элементами */
    align-items: center;
}

.mediaPlayerScene .mediaPlayerBox {
    width: 100%;
    height: 100%;

    max-width: 640px;
    max-height: 480px;
}

.mediaPlayerScene .mediaPlayerBox, .mediaPlayerScene .soundVisualizationBox {
    order: 0;
}

.mediaPlayerScene .frequencySliderBox {
    order: 1;
}

.mediaPlayerScene .actionsBox {
    order: 2;
}

.mediaPlayerBtnContainer {
    display: flex;
    gap: 10px;
    /* Расстояние между кнопками */
    justify-content: center;
    /* Центрируем кнопки по горизонтали */
    align-items: center;
    /* Центрируем кнопки по вертикали */
}