.mediaPlayerScene {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Расстояние между элементами */
    align-items: center;
}

.mediaPlayerBox {
    width: 100%;
    height: 100%;
    max-width: 640px;
    max-height: 480px;
}

.mediaPlayerScene .mediaPlayerBox, .mediaPlayerScene .soundVisualizationBox {
    order: 0;
}

.mediaPlayerScene .frequencySliderBox {
    order: 1;
}

.mediaPlayerScene .actionsBox {
    order: 2;
}

.mediaPlayerBtnContainer {
    display: flex;
    gap: 10px;
    /* Расстояние между кнопками */
    justify-content: center;
    /* Центрируем кнопки по горизонтали */
    align-items: center;
    /* Центрируем кнопки по вертикали */
}

.mediaPlayerBtnContainer button {
    box-sizing: border-box;
    border: none; /* Убираем границу */
    padding: 5px 10px; /* Внутренние отступы */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Указатель при наведении */
    font-size: 15px;
}

body[theme="day"] .mediaPlayerBtnContainer button  {
    background-color: var(--day-color-8); /* Цвет фона */
    color: var(--day-color-2); /* Цвет текста */
}

body[theme="night"] .mediaPlayerBtnContainer button {
    background-color: var(--night-color-2); /* Цвет фона */
    color: var(--night-color-5); /* Цвет текста */
}
