html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}

body[theme="day"]{
    background-color: var(--day-color-1); /* Цвет фона */
}


body[theme="night"] {
    background-color: var(--night-color-1);
}

* {
    font-family: Arial, sans-serif; /* Задаем шрифт Arial для всего документа */
}