.what-is-it-btn {
    position: fixed;
    top: 1%;
    left: 1%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

/* Стили для светлой темы */
body[theme="day"] .what-is-it-btn {
    background-color: var(--day-color-2);
}

/* Стили для темной темы */
body[theme="night"] .what-is-it-btn {
    background-color: var(--night-color-3);
}

.what-is-it-icon {
    width: 24px;
    height: 24px;
    background-size: cover;
}

body[theme="day"] .what-is-it-icon {
    background-image: url('../images/question-day.svg'); /* Иконка конверта */
}

body[theme="night"] .what-is-it-icon {
    background-image: url('../images/question-night.svg'); /* Иконка конверта */
}
